snippet env "include environment" b
\environment[$1]
$0
endsnippet

snippet opt "option pair" i
$1=$0
endsnippet

snippet surround "start/stop surround" b
\start$1${3:[$2]}${5:[$4]}

$0

\stop$1
endsnippet

snippet sec "section" i
section
endsnippet

snippet 1sec "subsection" i
subsection
endsnippet

snippet 2sec "subsubsection" i
subsubsection
endsnippet

snippet 3sec "subsubsubsection" i
subsubsubsection
endsnippet

snippet 4sec "subsubsubsubsection" i
subsubsubsubsection
endsnippet


